<html>
{% extends 'myApp/parent.html' %}
<body>
{% block for_child %}
<h1 style="color:red;">Employee Details</h1>
<table border="3">
<tr><th>Enumber</th><th>Ename</th><th>Esalary</th><th>Eaddress</th></tr>
{% for i in emp %}
<tr><td>{{i.eno}}</td>
<td>{{i.ename}}</td>
<td>{{i.esal}}</td>
<td>{{i.eaddr}}</td>
<td><a href="/update/{{i.id}}" class="btn btn-lg btn-warning">Update</a></td>
<td><a href="/delete/{{i.id}}" class="btn btn-lg btn-danger">Delete</a></td>
</tr>
{% endfor %}
</table> <br><br>
<a href="/insert" class="btn btn-lg btn-primary">enter new record</a>
{% endblock %}
</body>
</html>